CREATE TABLE IF NOT EXISTS public.claims (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  worker_id UUID REFERENCES public.worker_profiles(id) ON DELETE CASCADE,
  trigger_type TEXT NOT NULL,
  trigger_icon TEXT,
  amount NUMERIC NOT NULL,
  fraud_score NUMERIC DEFAULT 0,
  status TEXT DEFAULT 'pending-review',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()),
  resolved_at TIMESTAMP WITH TIME ZONE
);
ALTER TABLE public.claims ENABLE ROW LEVEL SECURITY;
CREATE POLICY "allow_all" ON public.claims FOR ALL USING (true);

